<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Some highlights of the last few years</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/nigeria.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 6, 1994</h4>
                                    <h4 class="subheading">My Humble Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">On this day I was born in a hospital in Owerri, Nigeria </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/mit.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2012</h4>
                                    <h4 class="subheading">I started at MIT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In September 2012 I began my four year undergraduate degree in Computer Science at MIT</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cambridge.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2014</h4>
                                    <h4 class="subheading">Began Year Abroad at Cambridge University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began my 1 year Cambridge-MIT exchange program, studying Computer Science in Trinity College,Cambridge</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/yammer.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2015</h4>
                                    <h4 class="subheading">Began Internship at Yammer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I returned for to my second internship at Microsoft, joining the Rails Team in Yammer.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>